.bg {
  background-image: url(../../../img/bg-createShop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  /* max-width: 100%;
  height: auto; */
}
