.bg {
  background-image: url(../../../img/bg-createShop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  position: relative;
}

.search button,
.search span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search > * > svg {
  display: block;
}

.search span {
  left: 20px;
  opacity: .5;
  margin-top: 1px;
}

.search button {
  right: 20px;
  left: auto;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  color: #333;
}

.search button:hover {
  color: #c7d2fe;
}

.search input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 50px 0 45px;
  font-size: 20px;
  outline: none;
  border: 2px solid #c7d2fe;
  background: white;
}

.address {
  margin-top: 30px;
  font-size: 24px;
}

.address p {
  margin-bottom: 15px;
  margin-top: 0;
}

.address p span {
  opacity: .8;
}
