* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(https://cdn.dribbble.com/users/3474264/screenshots/14875714/media/344416ee58d46220c2f131207bc5c5c6.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.title {
  margin-top: 15px;
  margin-right: 690px;
  font-size: 50px;
}

.title h2 {
  margin-top: 20px;
  font-size: 35px;
}

.name {
  background: rgba(255, 185, 8, 0.941);
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

.button {
  margin-top: 17rem;
  margin-right: 7rem;
}
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #029c9f 0%,
    rgb(2, 208, 240) 8%,
    rgb(2, 208, 240) 8%,
    rgb(0, 134, 148) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.3rem;
  color: black;
  background: rgb(7, 222, 255);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (max-width: 640px) { 
  .container {
    padding: 20px;
  }
  .title {
    margin-right: 0;
  }
  .button {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .title {
    margin-right: 0;
  }
  .button {
    margin-right: 0;
  }
}